<div id="<%= dom_id hatchery %>">
  <p>
    <strong>Name:</strong>
    <%= hatchery.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= hatchery.description %>
  </p>

  <p>
    <strong>History:</strong>
    <%= hatchery.history %>
  </p>

</div>
