<div id="<%= dom_id breeder %>">
  <p>
    <strong>Name:</strong>
    <%= breeder.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= breeder.description %>
  </p>

  <p>
    <strong>History:</strong>
    <%= breeder.history %>
  </p>

</div>
